.test-line {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.testnobtn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: all .3s ease;

  &:hover {
    color: _palette(theme-light-2);
  }
}


.testfacetwrap {
  white-space: nowrap;
  width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  border: 1px solid #000000;
}