// Utilities alignaments
.u-center {
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.u-right {
  text-align: right;
}

.u-justify {
  text-align: justify;
}

.u-left {
  text-align: left;
  justify-content: flex-start;
}
