
.u-grid {
  width: 100%;
  margin: 0 auto;
  
  &::after {
    content: "";
    display: table;
    clear: both;
  }

  [class^="u-col-"] {
      float: left;
      padding: 1rem;
  }
}

$cols: 5;
$jc: 1;
@for $i from 1 through $cols {
    @for $j from $jc through $cols {
        @if $i != $j { 
          .u-col-#{$i}-of-#{$j} {
            width: calc(#{$i} * (100% / #{$j}));
          }
        }
    }
    $jc: $jc + 1
}
