// Utilities for spacing

.u-mb-1h {
  margin-bottom: 1.5rem;
}

$spaceAmounts: (
  1,
  2,
  3,
  4,
  auto
);

@each $space in $spaceAmounts {
  @if $space==auto {
    .u-m-#{$space} {
      margin: #{$space};
    }

    .u-mx-#{$space} {
      margin-left: #{$space};
      margin-right: #{$space};
    }

    .u-my-#{$space} {
      margin-top: #{$space};
      margin-bottom: #{$space};

    }

    .u-mb-#{$space} {
      margin-bottom: #{$space};
    }

    .u-mt-#{$space} {
      margin-top: #{$space};
    }
  }

  @else {
    .u-m-#{$space} {
      margin: #{$space}rem;
    }

    .u-mx-#{$space} {
      margin-left: #{$space}rem;
      margin-right: #{$space}rem;
    }

    .u-my-#{$space} {
      margin-top: #{$space}rem;
      margin-bottom: #{$space}rem;

    }

    .u-mb-#{$space} {
      margin-bottom: #{$space}rem;
    }

    .u-mt-#{$space} {
      margin-top: #{$space}rem;
    }
  }
}