.btnSearch {
	fill: _palette(fg-primary);
	background-color: transparent;
	border: none;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;

	&-ico {
		margin: 2rem;
		width: 35px;
	}

	&:focus {
		outline: none;
	}
		
	&:hover,&:focus {
		border: none;
		
		.btnSearch-ico {
			fill: _palette(theme-light);
		} 
	} 
}

