$circle: url("data:image/svg+xml;utf8, <svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 200 200'><circle cx='100' cy='100' r='100'/></svg>");

.c-display {
  width: 200px;
  height: 200px;
  margin: 0rem auto;
  // padding-bottom: 1rem;
  position: relative;

  &-badge {
    position: absolute;
    width: 50px;
    top: 70%;
    right: 5%;
    z-index: 999;
  }

  &-pic {
    mask-image: $circle;
    mask-repeat: no-repeat;
    mask-position: start;
    mask-size: 100% 100%;
    -webkit-mask-image: $circle;
    -webkit-mask-position: start;
    -webkit-mask-size: 100% 100%;
    height: 200px;
  }
}





.c-profilex {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  margin: 0 auto;
  padding: 0;
  position: relative;

  &-photo {
    margin: 0 auto;
    mask-image: $circle;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 100% 100%;
    -webkit-mask-image: $circle;
    -webkit-mask-position: center;
    -webkit-mask-size: 100% 100%;
    width: 100px;
  }
}
