
.c-infotag {
  border: 1px solid _palette(theme-light-1);
  border-radius: 20px;
  color: _palette(theme-light);
  margin-left: .75rem;
  overflow: visible;
  padding: .20rem .75rem;
  white-space: nowrap;
}