table {
  border-collapse: collapse;
  border-spacing: 0;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  margin: .5rem auto;
  overflow: hidden;
  transition: all .3s ease;
  width: 90%;
}



td,
th {
  border: none;
  padding: 8px;
}

.thead {
  background-color: _palette(theme-light-2);
}

tbody tr:nth-child(even) {
  background-color: _palette(theme-light-4);
}

tbody tr:nth-child(odd) {
  background-color: _palette(theme-light-5);
}


th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  font-weight: 600;
  // color: #000;
}

@include breakpoint(md-up) {
  table {
    width: 80%;
  }
}