table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 90%;
  transition: all .3s ease;
  margin: .5rem auto;
  overflow: hidden;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
}



td,
th {
  border: 1px solid #ddd;
  padding: 8px;
}

.thead {
  background-color: _palette(theme-light-3);
}

tbody tr:nth-child(2n) {
  background-color: _palette(theme-light-4);
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  font-weight: 600;
  // background-color: _palette(theme-light-2);
  // color: #000;
}

@include breakpoint(md-up) {
  table {
    width: 80%;
  }
}