// GRAPH

// @for $i from 1 through 100 {
//   .graph-unit[data-weight="#{$i}"] { width: calc(#{$i} * .25rem); }
// }

$graph-labels-color: rgb(109, 109, 109);
$unit: 15px;
$gap: 2px;

.graph {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: fit-content;
  flex-wrap: nowrap;

  &-division {
    margin-top: 1rem;
  }

  &-info {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    text-align: center;

    &-label {
      text-align: center;
      color: $graph-labels-color;
      font-weight: 700;
      font-size: 1.2rem;
    }
  }

  &-label {
    color: $graph-labels-color;
    justify-content: center;
    font-size: .8rem;
    margin-right: .5rem;

    &-year {
      margin-right: calc( 6 * 17px );
    }
  }
  
  &-line {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 4px;
  }
  
  &-unit {
    width: $unit;
    height: $unit;
    margin-inline: $gap;
    border-radius: 2px;
    background-color: #ededed;
  }
}


$gColor: (
  0: #ededed,
	1: #acd5f2,
	2: #7fa8c9,
	3: #7fa8c9,
	4: #254e77,

); 

@each $n, $color in $gColor {
  .graph-unit[data-weight="#{$n}"] {
     background-color: $color;
  }
}
