// == FOOTER == //

.sitefooter {
	background-color: _palette(footer-bg);
	border-top: _palette(footer-border) 0.5rem solid;
	bottom: 0;
	color: _palette(footer-fg);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	justify-content: center;
	left: 0;
	right: 0;

	@include up-to("md") {
		flex-direction: row;
		justify-content: space-between;
		padding: 0.25rem 3rem;
	}

	&-contacts {
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: center;

		@include up-to("md") {
			flex-direction: row;
			justify-content: flex-start;
			width: 50%;
		}
	}

	&-link {
		color: _palette(footer-fg);
		display: block;
		font-size: 18px;
		font-weight: 600;
		margin: 0.5rem 1rem;
		text-align: center;

		&:hover {
			color: _palette(footer-hover);
		}
	}

	&-logos {
		display: flex;
		justify-content: space-evenly;
		@extend .d-md-hr;
	}

	&-logo {
		margin: 1rem;
		width: 100px;
	}
}
