// == FOOTER == //

.sitefooter {
	align-content: center;
	background-color: _palette(footer-bg);
	border-top: _palette(footer-border) 0.5rem solid;
	bottom: 0;
	box-sizing: border-box;
	color: _palette(footer-fg);

	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	left: 0;
	right: 0;
	width: 100%;

	&-contacts {
		align-items: center;
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	&-link {
		color: _palette(footer-fg);
		display: block;
		font-size: 18px;
		font-weight: 600;
		margin: 0.5rem;
		text-align: center;

		&:hover {
			color: _palette(footer-hover);
		}
	}

	&-logos {
		display: flex;
		justify-content: space-evenly;
	}

	&-logo {
		margin: 1rem;
		width: 100px;
	}

	&-det {
		display: none;
	}
}

@include up-to("md") {
	.sitefooter {
		flex-direction: row;
		justify-content: space-evenly;

		&-contacts {
			align-items: center;
			flex-direction: row;
			width: 50%;
		}

		&-logos {
			align-items: center;
			flex-direction: row;
			justify-content: end;
			width: 30%;
		}

		&-det {
			display: inline-block;
		}
	}
}
