// == PAGE HOME == // 

.home {
  background-image: escape-svg($logo-bg);
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 30%;

}

.logo {
  &-home {
    max-width: 130px;
    margin-bottom: 1rem auto;
    fill:#1C9AD1;
  }
}
  
@include breakpoint(md-up) {
  .logo {
    &-home {
      max-width: 230px;
      margin-top: 3rem;
    } 
    }
}

.searchcategories, .options {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: .5rem auto;
}

.tips {
  max-width: 900px;
}