.p-projeto,
.p-projeto-header,
.p-projeto-header-d1,
.p-projeto-header-d2,
.p-projeto-header-d3 {
	align-items: center;
	display: flex;
	flex-direction: column;
	text-align: center;
}

@include breakpoint(lg-up) {
	.p-projeto,
	.p-projeto-header,
	.p-projeto-header-d1,
	.p-projeto-header-d2,
	.p-projeto-header-d3 {
		text-align: start;
	}

	.p-projeto-header {
		flex-direction: row;
	}

	.p-projeto {
		align-items: flex-start;

		&-logo {
			margin-right: 1rem;
		}

		&-header {
			align-items: flex-start;

			&-d2 {
				border-right: 1px dashed _palette(theme-light-2);
				display: block;
			}

			&-d3 {
				align-items: flex-start;
				height: 100%;
				justify-content: center;
			}
		}
	}
}

.p-projeto {
	&-logo {
		background-color: _palette(theme-light-2);
		height: 50px;
		transform: translateY(6px);
		width: 50px;
	}

	&-main {
		padding-inline: 2rem;
	}

	&-title {
		max-width: 900px;
	}

	&-who {
		align-items: flex-start;
		display: inline-flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		width: 100%;
	}
}
