// componente
$gpaddings: .5rem;


details summary::-webkit-details-marker {
  display: none;
}

details {
  overflow: hidden;
}

details summary {
  position: relative;
  z-index: 10;
}

@keyframes details-show {
  from {
    margin-bottom: -80%;
    opacity: 0;
    transform: translateY(-100%);
  }
}

details>*:not(summary) {
  animation: details-show 500ms ease-in-out;
  position: relative;
  z-index: 1;
  transition: all 0.3s ease-in-out;
  color: transparent;
  overflow: hidden;
}

details[open]>*:not(summary) {
  color: inherit;
}

details[open] .cc-fbloc-name--header:before {
  transform: rotate(90deg);
  transition: .3s transform ease;
}

@mixin filterhover() {
  transition: all .2s ease;
  background-color: _palette(theme-light-2);
  color: _palette(bg-primary);
}

.cc-fbar {
  box-sizing: border-box;
  grid-area: filterbar;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: $filterbar-width;
  // background-color: #fff1ff;
  right: 0;
  padding: .5rem;

  -ms-overflow-style: none;
  scrollbar-width: none;


  &::-webkit-scrollbar {
    display: none;
  }

  &-header {
    font-size: 1.2rem;
    margin: 1rem;
    text-align: center;
    border-bottom: 2px solid _palette(theme);
    padding-block: .5rem;
  }
}



// .cc-fbloc - used at UL
.cc-fbloc {
  margin: .5rem;

  &-wrapper,
  &-header,
  &-content {
    box-sizing: border-box;
  }

  &-wrapper {
    background-color: #fff;
    margin-block: .3rem;
    height: fit-content;
    position: relative;
    width: 100%;
    padding: .5rem;
    border-radius: .5rem;
  }

  &-header {
    font-size: 1.1rem;
    padding: .7rem .2rem .7rem 1.5rem;
    border-radius: .5rem;
    cursor: pointer;
    line-height: 1rem;

    border: 1px solid #b9d8ec;
    background-color: _palette(bg-primary);

    &:hover {
      @include filterhover()
    }
  }

  &-item,
  &-header {
    display: grid;
    grid-template-areas: "nome number";
    grid-template-columns: 9fr 1fr;
    align-items: center;
  }


  &-item {
    margin-block: .5rem;
    padding-block: .5rem;
    border-bottom: 1px solid _palette(theme-light-2);
    font-size: 1rem;
    box-sizing: border-box;

    &:hover {
      @include filterhover()
    }
  }

  &-name {
    grid-area: nome;
    margin-inline: .7 rem;
    background-color: transparent;
    border: none;
    overflow: hidden;
    word-wrap: break-word;

    &:hover {
      color: _palette(bg-primary);
      transition: .2s all ease;

    }

    &--header::before {
      content: "›";
      font-family: "Hiragino Mincho ProN", "Open Sans", sans-serif;
      font-size: 2rem;
      line-height: 1rem;
      position: absolute;
      top: .5rem;
      color: _palette(theme);
      // transform: translateX(-100%);
      left: 10px;
      transform: rotate(0);
      transform-origin: center;
      transition: 0.2s transform ease;

    }
  }

  &-number {
    grid-area: number;
    width: fit-content;
    height: fit-content;
    color: #fff;
    font-weight: 500;
    background-color: _palette(theme-light-2);
    border-radius: 8px;
    padding: .2rem .5rem;
    margin: .2rem;
  }

  $btn-color: #b9d8ec;

  &-btn {
    box-sizing: border-box;
    width: 100%;
    margin: .5rem auto;
    background-color: #fff;
    border-radius: .5rem;
    border: 1px solid $btn-color;
    height: 2rem;

    svg {
      fill: _palette(theme-light-2);
      transition: all 0.2s ease 0s;
      vertical-align: middle;
      width: 30px;
    }

    &:hover {
      @include filterhover();

      svg {
        fill: _palette(bg-primary);
      }
    }
  }
}




// .cc-fbloc--expanded {
//   display: inline-block;
//   height: fit-content;
//   transform: translateY(10)
//   // -webkit-animation: opening .5s;
//   // -moz-animation: opening .5s;
//   // -ms-animation: opening .5s;
//   // -o-animation: opening .5s;
//   // animation: opening .5s
// }


// @keyframes opening {
//   from { transform: translateY(10%)}
//   to { transform: translateY(0%) }
// }
// @keyframes closing {
//   from { transform: scaleY(1)}
//   to { transform: scaleY(0) }
// }