$filterbar-width: 420px;

//layout da página
.result-container {
  display: grid;
  grid-template-areas: "main filterbar";
  grid-template-columns: 1fr $filterbar-width;
  column-gap: 1rem;
}

.result-main {
  grid-area: main;
  width: 100%;
  margin: 2rem 1rem;
}

.c-searchterm {
  border-block: 1px solid _palette(theme-2);
  margin-block: 1rem;
  padding: .5rem;
  text-align: center;
  color: _palette(theme);
}